<mat-toolbar color="warn">
    <span>Fishing Store</span>
    <div class="spacer"></div>
    <a mat-button routerLink="/" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/customers" routerLinkActive="active">Customers</a>
    <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
    <a mat-button routerLink="/reviews" routerLinkActive="active">Reviews</a>
    <!-- <a mat-button routerLink="/companies" routerLinkActive="active">Companies</a>
    <a mat-button routerLink="/trips" routerLinkActive="active">Trips</a>
    <a mat-button routerLink="/trip-stats" routerLinkActive="active">Trips stats</a>
    <a mat-button routerLink="/tickets" routerLinkActive="active">Tickets</a> -->
    <a mat-button routerLink="/about" routerLinkActive="active">About</a>
</mat-toolbar>
