<app-navbar></app-navbar>
<h1 class="justify-content-center">Our products:</h1>
<table mat-table class="mat-elevation-z8" [dataSource]="tableSource">
  <ng-container matColumnDef="Product ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
  </ng-container>

  <ng-container matColumnDef="Category ID">
    <th mat-header-cell *matHeaderCellDef> Category ID </th>
    <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
  </ng-container>

  <ng-container matColumnDef="Category Name">
    <th mat-header-cell *matHeaderCellDef> Category Name </th>
    <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
  </ng-container>

  <ng-container matColumnDef="Product Name">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
  </ng-container>

  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="Discounted Price">
    <th mat-header-cell *matHeaderCellDef> Discounted Price </th>
    <td mat-cell *matCellDef="let element"> {{element.discountedPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="Base Price">
    <th mat-header-cell *matHeaderCellDef> Base Price </th>
    <td mat-cell *matCellDef="let element"> {{element.basePrice}} </td>
  </ng-container>

  <ng-container matColumnDef="Stock Quantity">
    <th mat-header-cell *matHeaderCellDef> Stock Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.stockQuantity}} </td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="edit(element)">
        <mat-icon fontIcon ="edit"></mat-icon>
      </button>
      <button mat-button (click)="delete(element.productId)">
        <mat-icon fontIcon ="delete"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of products"/>

<button [appHover]="'red'" mat-raised-button color="primary" (click)="add()">Add</button>


