
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bus-station-web-ui-primary: mat.define-palette(mat.$indigo-palette,500);
$bus-station-web-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bus-station-web-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bus-station-web-ui-theme: mat.define-light-theme((
  color: (
    primary: $bus-station-web-ui-primary,
    accent: $bus-station-web-ui-accent,
    warn: $bus-station-web-ui-warn,
  )
));

$my-palette: mat.$indigo-palette;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bus-station-web-ui-theme);



/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/ngx-toastr/toastr-bs5-alert';
@import "node_modules/bootstrap/scss/maps";  // **Newly added!**
html, body { height: 100%; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif }

/* You can add global styles to this file, and also import other style files */
@import "assets/styles/animations";
@import "assets/styles/tables";
@import "../src/assets/styles/mixins.scss";
@import "../src/assets/styles/variables.scss";

// combining couple styles
.centralize {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-content-center;
}

.form-hint-font-size {
  font-size: 9px;
}
