<h1 mat-dialog-title>Add/edit product</h1>
<form [formGroup]="customForm">
  <div mat-dialog-content>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Category ID</mat-label>
        <input type="text" required matInput [ngModel]="editedProduct.categoryId" formControlName="categoryId">
        <mat-hint align="start" class="form-hint-font-size">{{Constants.inputCategoryIdMessage}}</mat-hint>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'categoryId', 'required')">Category ID is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'categoryId', 'min')">Min: {{Constants.minCategoryId}}</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'categoryId', 'max')">Max: {{Constants.maxCategoryId}}</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Product name</mat-label>
        <input type="text" required matInput [ngModel]="editedProduct.productName" formControlName="productName">
        <mat-hint align="start" class="form-hint-font-size">{{Constants.inputLengthMessage}}</mat-hint>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'productName', 'required')">Product name is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'productName', 'maxlength')">Limit exceed</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" matInput [ngModel]="editedProduct.description" formControlName="description">
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Base Price</mat-label>
        <input type="text" matInput [ngModel]="editedProduct.basePrice" formControlName="basePrice">
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'basePrice', 'required')">Price name is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'basePrice', 'pattern')">Accept like "13.95"</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Stock quantity</mat-label>
        <input type="text" required="" matInput [ngModel]="editedProduct.stockQuantity" formControlName="stockQuantity">
        <mat-hint align="start" class="form-hint-font-size">{{Constants.inputLengthMessage}}</mat-hint>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'stockQuantity', 'required')">Stock quantity is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'stockQuantity', 'min')">Min: 1</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'stockQuantity', 'max')">Max: 10000</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center" mat-dialog-actions>
    <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Save</button>
    <button mat-flat-button (click)="onExit()">Exit</button>
  </div>
</form>
