<h1 mat-dialog-title>Add/edit review</h1>
<form [formGroup]="customForm">
  <div mat-dialog-content>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Product ID</mat-label>
        <input type="text" required matInput [ngModel]="editedReview.productId" formControlName="productId">
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'productId', 'required')">Product ID is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Customer ID</mat-label>
        <input type="text" required matInput [ngModel]="editedReview.customerId" formControlName="customerId">
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'customerId', 'required')">Customer ID is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Rating</mat-label>
        <input type="text" required matInput [ngModel]="editedReview.rating" formControlName="rating">
        <mat-hint align="start" class="form-hint-font-size">{{Constants.inputRatingMessage}}</mat-hint>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'rating', 'required')">Rating is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'rating', 'min')">Min: {{Constants.minRating}}</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'rating', 'max')">Max: {{Constants.maxRating}}</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input type="email" matInput [ngModel]="editedReview.comment" formControlName="comment">
      </mat-form-field>
    </div>
    
  </div>
  <div class="d-flex align-items-center justify-content-center" mat-dialog-actions>
    <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Save</button>
    <button mat-flat-button (click)="onExit()">Exit</button>
  </div>
</form>
