<app-navbar></app-navbar>
<div class="image-container">
    <img src="../../../assets/images/fish-in-fishing-lake.jpg" alt="fish" class="centered-image">
    <h1 class="welcome-block">Welcome</h1>
  </div>