<app-navbar></app-navbar>
<h1 class="justify-content-center">Our reviews:</h1>
<table mat-table class="mat-elevation-z8" [dataSource]="tableSource">
  <ng-container matColumnDef="Review ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.reviewId}} </td>
  </ng-container>

  <ng-container matColumnDef="Product ID">
    <th mat-header-cell *matHeaderCellDef> Product ID </th>
    <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
  </ng-container>

  <ng-container matColumnDef="Customer ID">
    <th mat-header-cell *matHeaderCellDef> Customer ID </th>
    <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
  </ng-container>

  <ng-container matColumnDef="Rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
  </ng-container>

  <ng-container matColumnDef="Comment">
    <th mat-header-cell *matHeaderCellDef> Comment </th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>

  <ng-container matColumnDef="Review Date">
    <th mat-header-cell *matHeaderCellDef> Review Date </th>
    <td mat-cell *matCellDef="let element"> {{element.reviewDate}} </td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="edit(element)">
        <mat-icon fontIcon ="edit"></mat-icon>
      </button>
      <button mat-button (click)="delete(element.reviewId)">
        <mat-icon fontIcon ="delete"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of reviews"/>

<button [appHover]="'red'" mat-raised-button color="primary" (click)="add()">Add</button>



