
<h1 mat-dialog-title>Add/edit customer</h1>
<form [formGroup]="customForm">
  <div mat-dialog-content>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input type="text" required matInput [ngModel]="editedCustomer.firstName" formControlName="firstName">
        <mat-hint align="start" class="form-hint-font-size">{{Constants.inputLengthMessage}}</mat-hint>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'firstName', 'required')">First name is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'firstName', 'maxlength')">Limit exceed</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'firstName', 'pattern')">Accept only letters</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input type="text" required matInput [ngModel]="editedCustomer.lastName" formControlName="lastName">
        <mat-hint align="start" class="form-hint-font-size">{{Constants.inputLengthMessage}}</mat-hint>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'lastName', 'required')">Last name is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'lastName', 'maxlength')">Limit exceed</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'lastName', 'pattern')">Accept only letters</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <input type="text" required matInput [ngModel]="editedCustomer.gender" formControlName="gender">
        <mat-hint align="start" class="form-hint-font-size">{{Constants.inputGenderMessage}}</mat-hint>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'gender', 'required')">Gender is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'gender', 'maxlength')">Limit exceed</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'gender', 'pattern')">Accept only letter</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input type="text" required matInput [ngModel]="editedCustomer.age" formControlName="age">
        <mat-hint align="start" class="form-hint-font-size">{{Constants.inputAgeMessage}}</mat-hint>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'gender', 'required')">Age is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'age', 'min')">Min: 0</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'age', 'max')">Max: 100</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput [ngModel]="editedCustomer.email" formControlName="email">
<!--         <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'gender', 'required')">Email is required</mat-error> -->
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'email', 'maxlength')">Limit exceed</mat-error>
        <mat-error class="form-hint-font-size" *ngIf="FormsChecker.controlHasError(this.customForm,'email', 'pattern')">Format: name.surname@domen.com</mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input type="text" required matInput [ngModel]="editedCustomer.phone" formControlName="phone">
        <mat-hint align="start" class="form-hint-font-size">{{Constants.inputPhoneMessage}}</mat-hint>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'phone', 'required')">Phone is required</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'phone', 'minlength')">Min: {{Constants.minPhoneLength}}</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'phone', 'maxlength')">Limit exceed</mat-error>
        <mat-error *ngIf="FormsChecker.controlHasError(this.customForm,'phone', 'pattern')">Accept only letter</mat-error>
        <mat-error class="form-hint-font-size" *ngIf="FormsChecker.controlHasError(this.customForm,'phone', 'pattern')">Format: 123-456-7890</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center" mat-dialog-actions>
    <button mat-raised-button color="accent" type="submit" (click)="onSubmit()">Save</button>
    <button mat-flat-button (click)="onExit()">Exit</button>
  </div>
</form>